<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partial/head") %>
    <title>Update Name</title>
</head>

<body class="bg-light">

    <%- include("partial/nav") %>

    <div class="container py-5">

        <div class="row justify-content-center">

            <div class="col-md-6">

                <div class="card shadow border-0 rounded-4">

                    <div class="card-body p-4">

                        <h3 class="mb-4 text-center fw-bold">
                            Update Your Name
                        </h3>

                        <form action="/user/update-password" method="POST">

                         
                            <div class="mb-3">
                                <label class="form-label">Enter Your Current Password</label>
                                <input type="text"
                                    class="form-control"
                                    name="currentPassword"
                                 >
                            </div>

            
                            <div class="mb-3">
                                <label class="form-label">Enter New Password</label>
                                <input type="text"
                                    name="newPassword"
                                    class="form-control"
                                    placeholder="Enter new Password"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm Password</label>
                                <input type="text"
                                    name="confirmPassword"
                                    class="form-control"
                                    placeholder="Confrim Password"
                                    required>
                            </div>

                            <button class="btn btn-primary w-100" type="submit">
                                Update Password
                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <%- include("partial/script") %>

</body>
</html>